/* ====================================
    BASIC
=====================================*/
html {
    width: 100%;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;

}

h2 {
    margin: 0px;
    padding: 0px;
}

.members-text p, a,
.Recent-text p, a,
.alert-banner{
    margin:0px;
    padding: 0px;
    font-size: .75em;
}
/* ====================================
    Header
=====================================*/

.header {
    width: 100%;
    display: flex;
    background-color: #6f5bb3;
    flex-direction: column;
    align-items: center;
    color: white;
    /* border:1px red solid; */
   

}
.logo_name,
.mobile-layout {
    margin: 0px;
}
.logo_name {
    /* width: 100%; */
 
    text-align: center;
}
.logo_name span {
    font-weight: lighter;
    font-family:  Courier, monospace;
    font-size: 20px;

    
}

.mobile-layout {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.mobile-layout h3,
.mobile-layout  img 
{
    margin-right: 10px;
}

.mobile-layout > #Layer_1, 
.mobile-layout img
{
    width: 30px;
    height: 25px;
}
.mobile-layout img {
    border-radius: 50%;
}

.mobile-layout > #Layer_1 {
    padding: 0 15px;
    margin-right: 8px;
    border-right: 3px dotted black;
}

.mobile-layout > #Layer_1:hover {
    cursor: pointer;
    width: 35px;
    transition: width 1s;
}


/* ====================================
    Navigatioon
=====================================*/
nav {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #342649;
    
}

#Line_2,
#Line_12,
#Line_5,
#Line_6
 {
    margin: 0px 15px;
    width: 30px;
    height: 30px;
    padding: 7px;
    
}
#Line_2  {
    border-top: 2px solid green;
}




/* ====================================
    Main 
=====================================*/


.widget-container-full
{
    border-bottom: 1px solid grey;
}

/*
  main-Header
*/
.main-header
{
    display: flex;
    flex-direction: column;

}

.Headline-search
{
   display: flex;
   justify-content: center;
   align-items: center;
 
   /* flex-wrap: wrap; */
   /* height: 40px; */
}


h2.headline  {
     width: 30%;
     font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
    padding: 10px 0px;
    font-size: 1em;
  
}
.input-search {
    width: 70%;
    padding: 10px;
    background-color: lightgrey;
    border:1px grey solid;
    height: 39px;
}
input
 {
    width: 60%;
    float: right;
    /* padding: 5px; */
    border-radius: 5%;
}   



/*
    alert banner 
*/
 .alert-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: #6f5bb3;
    padding:0 10px;
    height:35px;
    color: white;
    /* border: 1px red solid; */
}
.alert-banner p:first-child {
    margin-right: auto;
}



.alert-banner-close {
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px; 
    cursor: pointer;
    transition: 0.3s;
  }
  
  .alert-banner-close:hover {
    color: black;
  }


/*
 Traffic Section: Line graphs
*/
.traffic-header {
    margin: 5px;
}


.traffic,
.traffic-header,
.traffic-nav {
    display: flex;
    flex-direction: column;
   
}

.traffic-header h3 {
    text-align: center;
    margin: 3px 0px;
}
.traffic-nav {
    /* border: 1px solid red; */
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
   
} 
 .traffic-nav li{
     
     font-family: Arial, Helvetica, sans-serif;
     margin: 5px;
 

}
.traffic-nav-link a {
    background-color: darkslategrey;
    border: 1px solid black;
    font-size: .8em;
    color: white;
    padding: 4px;
    border-radius: 40%;
  

}

.traffic-nav-link a:hover {
    font-size: 1.1em;
    background-color: green;

}

/*
    Social Status
*/

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
 
}
.social-container {
    display: flex;
    flex: 1;
    margin: 5px;
    border: 1px solid grey; 
    background: lightgrey;
}

.social-image {
    padding: 5px ;
    background-color: #6f5bb3;
    border-radius: 50%;
    margin: 10px ;
    text-align: center;
    width: 70px;
    height: 50px;
  
}
.social-image #Layer_1 {
    width: 50px;
    height: 40px;
}
/* .social-image #layer_1 {
    border: 1px solid red;
    width: 20px;
    height: 15px;
    
} */
path.st0 {
    width: 30px;
    height: 25px;
}

.social-text p {
    padding: 0px;
    margin: 0px;
}

div.social-text p:first-child  {
    color: #6f5bb3;
}
p.number_fallowers {
    font-family: MingLiU-ExtB;
    font-weight: 100;
    font-size: 3em;
   
}

/* @media (min-width: 768px) {
    p.number_fallowers {
        font-size: 3em;
       
    }
} */

.members,
.message,
.setttings {
    display: flex;
    flex-direction: column;
    
}

/*
  members
 */
 .members-container {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     border-bottom: 1px grey solid;
     padding-bottom: 15px;
 }
.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}
.members-text,
.Recent-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.members-text,
.Recent-text {
    margin-right: auto;
    
}
.arrow{
    font-weight: bold;
    font-size: 1em;
}

/*
    Messaging User
*/

input[type=text],
textarea,
#timezone {
    width: 100%;
    background-color: #f2f2f2;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea {
      height: 120px;
  }
  #send {
    width: 100%;    
  }

  #send,
  .button-disabled,
  .button-primary {
  
    color: white;
    padding: 10px 15px;
    /* margin: 8px 0; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #6f5bb3;
   
  }

/*
    Settings
*/

.setttings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
   
}

.OnOff-widget {
    display: flex;
    flex-direction: row;
    
}

.switch {
    margin: 1px 0px 2px 0px;
    
   
}

.widget p {
 
   margin: 13px 3px 15px 0px;
}
 
.form-field {

    margin-bottom: auto;
}


.switch {
    position: relative; 
    width: 90px;
 

}
.switch-checkbox {
    display: none;
}


.switch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}
.inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.inner:before, 
.inner:after {
    display: block;
     float: left; 
     width: 50%; 
     height: 30px;
      padding: 0; 
      line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #6f5bb3; color: #FFFFFF;
}
.inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.switch-switch {
    display: block; 
    width: 18px; 
    margin: 6px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 56px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.switch-checkbox:checked + .switch-label .inner {
    margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-switch {
    right: 0px; 
}

  .setting-button {
     
      padding: 0px;
      display: flex;
      justify-content: space-around; 
      align-items: center;
      /* flex: 1; */
  }

  .button-primary,
.button-disabled {
    width: 49.5%;
}

.button-disabled {
    background-color: grey;
}
/*==================
    media queries
=================*/

@media (min-width: 768px) and (min-width: 1024px)  {

    /*
        Header-
    */

    .header,
    .traffic-header {
        flex-direction: row;
    }
    .logo_name {
        margin-right:  auto;
        padding-left: 10px;
        
    }
    .mobile-layout {
        padding-right: 10px;
    }
    .traffic-header h3 {
        margin: 0px;
    }

    /* 
        Navigation
    */
    nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #342649;
      
        
    }
        
    #Line_2,
    #Line_12,
    #Line_5,
    #Line_6
    {
        margin: 15px 0px;
        padding: 10px;
        
    }
    #Line_2 {
     
        border-left: 2px solid green;
        border-top: 0px solid green;
    }
      /*
       Main-components.
    */
    .traffic-header h3 {
        margin-right: auto;
    }


    h2.headline  {
        width: 20%;
       
       font-size: 1.5em;
     
   }
   .input-search {
       width: 80%;
    
   }

}

@media(min-width: 1024px) 
{


}


/*
 clearfix 

 */

 .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }