
/* ====================================
    BASIC
=====================================*/

img {
    width: 200px;
    height: 250px;
}

/* div, nav, h1, h2, h3, p, section, header, main  {
    dislay: flex;
    border: 1px red solid;
    margin: 5px;
} */

 
.main,
section {
    border: 1px red solid;
    margin: 5px;
}


.grid-container 
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
                          "navigation"
                          "main";
    font-family: "Times New Roman", Times, serif;
}
/* ====================================
    Header
=====================================*/

.header > div {
    border-right: 2px solid black;
    padding-right: 10px;
}

.header > div,
.header > img, 
#Layer_1
{
    width: 40px;
    height: 30px;
   

    margin-right: 5px;
}

.header {
    grid-area: header;
    background-color: #6f5bb3;
    display: flex;
    width: 100%;
    align-items: center;
    color: white;
}
.header > h1 {
    margin-right: auto;
}
h1 > span {
    font-weight: lighter;
    font-family:  Courier, monospace;
    
}



.header > h3,
.header > img 
{
    margin-right: 10px;
}

 img {
    border-radius: 50%;
}
/* ====================================
    Navigatioon
=====================================*/
.navigation {
    grid-area: navigation;
    background-color: #342649;
   
}
.main {
    grid-area: main;
    
}

@media (min-width: 768px ) 
{
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: "header header"
                             "navigation main";
    }
}


/* ====================================
    Main 
=====================================*/
/*
    Dashboard Header
*/

.headline,
.main-header-search 
{
    flex-grow: 0.5;
}
.headline 
{
    margin-right: auto;
    padding: 5px 0px;
}
.main-header-search
{
    flex-grow: 3;
    padding-top: 19px;
    padding-bottom: 19px;
    background:lightgrey;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.main-header
{
    display: flex;
    max-width: 100%;
    align-items: center;
    margin-top: 0px;
}

 .main-header-search input 
 {
    float: right;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5%;
}



/*
    alert banner
*/

.alert {
    background-color: #6f5bb3;
    color: white;
}
.alert-banner {
    display: flex;
    
}
.alert-banner > p {
    margin-right: auto;
    margin-left: 8px;
}
p.alert-banner-close {
    margin-right: 4px;
}

/*
 Traffic Section: Line graphs
*/
.traffic-header {
    display: flex;
    border: 1px red solid;
}
.traffic-nav-link {
    display: inline-block;
    text-decoration: none;
}
h3 {
    margin-right: auto;
}
li {
    margin-left: 8px;
}

.widget-container-full,
.widget-container-half {
    border: 1px solid red;
    width: 95vw;
}

.main {
    display: grid;
}

@media (min-width: 768px)
{

    .main {
        grid-template-columns: 50%;
        border: 1px solid red;
    }
    .traffic, .social-container {
        grid-column: 1 / span 2;
    }
    .Daily, .memebers, .message {
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }


    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }

    
}


/*
    Social Status
*/
 .social-container {
    border: 1px solid blue;
    margin: 5px;
    float: left;    
}



/*

*/

